{{define "index"}}
    {{template "header"}}
    <header>
        <div class="headers">
            <h1><a href="/" class="heading">Trivial Tickets</a></h1>
        </div>
        {{template "login" .Session}}
    </header>
    <div class="container">
        {{template "navigation" .Session}}
        <div class="content">
            {{if .Session.IsLoggedIn}}
                {{template "dashboard" .}}
                {{template "create_ticket" .Session}}
                {{template "all_tickets" .}}
            {{else}}
                {{template "create_ticket" .Session}}
            {{end}}
        </div>
    </div>
    {{template "footer"}}
{{end}}
