{{define "login"}}
<div class="login">
    {{if .IsLoggedIn}}
        <form method="POST" action="/logout">
            <label>Willkommen, {{.User.Name}}</label>
            <button type="submit">Logout</button>
        </form>
    {{else}}
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="username" required />
            <input type="password" name="password" placeholder="password" required />
            <button type="submit">Login</button>
        </form>
    {{end}}
</div>
{{end}}