{{define "ticket"}}
{{$session := .Session}}
{{$currentTicket := .Ticket}}
    {{template "header"}}
    <header>
        <div class="headers">
            <h1><a href="/" class="heading">Trivial Tickets</a></h1>
        </div>
        {{template "login" .Session}}
    </header>
    <div class="container">
        {{template "navigation" .Session}}
        <div class="content">
            <div class="ticket" id="ticket">
                <form method="POST" action="/updateTicket">
                    <div>
                        <table>
                            <tr>
                                <td>Kunde:</td>
                                <td>{{.Ticket.Customer}}</td>
                                <td>Status:</td>
                                <td>
                                    {{if .Session.IsLoggedIn}}   
                                        {{if eq .Session.User.Id .Ticket.User.Id}}
                                            <select name="status">
                                                <option value="0" {{if eq .Ticket.Status 0 }} selected {{end}}>Offen</option>
                                                <option value="1" {{if eq .Ticket.Status 1 }} selected {{end}}>In Bearbeitung</option>
                                                <option value="2" {{if eq .Ticket.Status 2 }} selected {{end}}>Geschlossen</option>     
                                            </select>
                                        {{else}}
                                            <input type="text" class="input_label" value="{{if eq .Ticket.Status 0 }}Offen{{end}}{{if eq .Ticket.Status 1 }}In Bearbeitung{{end}}{{if eq .Ticket.Status 2 }}Geschlossen{{end}}">
                                        {{end}}
                                    {{else}}
                                        <input type="text" class="input_label" value="{{if eq .Ticket.Status 0 }}Offen{{end}}{{if eq .Ticket.Status 1 }}In Bearbeitung{{end}}{{if eq .Ticket.Status 2 }}Geschlossen{{end}}">
                                    {{end}}
                                </td>
                            </tr>
                            <tr>
                                <td>Betreff:</td><td>{{.Ticket.Subject}}</td>
                                {{if .Session.IsLoggedIn}}
                                    <td>Antworttyp:</td>
                                    <td>
                                        <select name="reply_type" required>
                                            <option value="" selected></option>
                                            <option value="intern">Intern</option>
                                            <option value="extern">Extern</option>
                                        </select>
                                    </td>
                                {{end}}
                            </tr>
                            <tr>
                                <td>Ticketnummer:</td>
                                <td><input name="ticket" class="input_label" type="text" readonly value="{{.Ticket.Id}}"></td>
                                {{if .Session.IsLoggedIn}}
                                    <td>Zusammenführen mit:</td>
                                    <td>
                                        <select name="merge">
                                            <option value="" selected></option>
                                            {{range $index, $element := .Tickets}}
                                                {{if and (eq $session.User.Id $element.User.Id) (ne $element.Id $currentTicket.Id) (eq $element.MergeTo "")}}
                                                    <option value="{{$element.Id}}">{{$element.Id}} - {{$element.Subject}}</option>
                                                {{end}}
                                            {{end}}
                                        </select>
                                    </td>
                                {{end}}
                            </tr>
                        </table>
                    </div>
                    <br>
                    <p>Nachrichtenverlauf:</p>
                    {{range $replies := .Ticket.Entries}} 
                        {{if $session.IsLoggedIn}}
                            <div class="reply {{$replies.Reply_Type}}">
                                <p>{{$replies.FormattedDate}} {{$replies.User}}:</p>
                                <textarea class="ticket_text" cols="60" rows="5" readonly>{{$replies.Text}}</textarea>
                            </div>
                        {{else}}
                            {{if ne $replies.Reply_Type "intern"}}
                                <div class="reply {{$replies.Reply_Type}}">
                                    <p>{{$replies.FormattedDate}} {{$replies.User}}:</p>
                                    <textarea class="ticket_text" cols="60" rows="5" readonly>{{$replies.Text}}</textarea>
                                </div>
                            {{end}}
                        {{end}}
                    {{end}}
                    <br>
                    <input type="text" class="ticket_input" name="mail" placeholder="Ihre E-Mail" readonly {{if .Session.IsLoggedIn }} value="{{.Session.User.Mail}}" {{else}} value="{{.Ticket.Customer}}" {{end}} pattern="^[\w.-]+@[\w-]+\.[\w.]+$"><br>
                    <textarea class="ticket_text" name="reply" cols="60" rows="10" placeholder="Antworten ..."></textarea><br>
                    <button type="submit">Speichern</button>
                </form>
            </div>
            {{if .Session.IsLoggedIn}}
                <div style="display: none">
                    {{template "dashboard" .}}
                </div>
                {{template "create_ticket" .Session}}
                {{template "all_tickets" .}}
            {{else}}
                <div style="display: none">
                    {{template "create_ticket" .Session}}
                </div>
            {{end}}
        </div>
    </div>
    {{template "footer"}}
{{end}}