## Trivial Tickets Ticketsystem
## Copyright (C) 2019 The Contributors
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <http://www.gnu.org/licenses/>.
##
##
## Ticketsystem Trivial Tickets
##
## Matriculation numbers: 3040018, 6694964, 3478222
## Lecture:               Programmieren II, INF16B
## Lecturer:              Herr Prof. Dr. Helmut Neemann
## Institute:             Duale Hochschule Baden-Württemberg Mosbach
##
## ---------------
## Ignored files in Git

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Server binary in root directory, built with 'go build'
/ticketsystem

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when
# used with LiteIDE
*.out

# Coverage Reports
coverage.txt

# Jekyll Output
_site

# Ignore generated mails and tickets
/files/mails/*.json
/files/tickets/*.json

# Do not ignore predefined tickets
!/files/tickets/1z9JcEUnW3.json
!/files/tickets/6xSD9nNjAk.json
!/files/tickets/NRCyhbIptw.json

# Ignore IntelliJ files
/.idea
