# Ticketsystem Trivial Tickets
#
# Matriculation numbers: 3040018, 6694964, 3478222
# Lecture:               Programmieren II, INF16B
# Lecturer:              Herr Prof. Dr. Helmut Neemann
# Institute:             Duale Hochschule Baden-Württemberg Mosbach
#
# ---------------
# Ignored files in Git

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage Repors
coverage.txt

# Ignore generated mails and tickets
/files/mails/*.json
/files/tickets/*.json

# Do not ignore predefined tickets
!/files/tickets/1z9JcEUnW3.json
!/files/tickets/6xSD9nNjAk.json
!/files/tickets/NRCyhbIptw.json

# Ignore IntelliJ files
/.idea
